ble_pack i_cmd_error_pulse_ibuf_RNIEH0I_LC_1_8_0 { i_cmd_error_pulse_ibuf_RNIEH0I }
clb_pack LT_1_8 { i_cmd_error_pulse_ibuf_RNIEH0I_LC_1_8_0 }
set_location LT_1_8 1 8
ble_pack r_fsm_tx_status_byte_7_LC_1_9_2 { r_fsm_tx_status_byte_RNO[7], r_fsm_tx_status_byte[7] }
clb_pack LT_1_9 { r_fsm_tx_status_byte_7_LC_1_9_2 }
set_location LT_1_9 1 9
ble_pack i_read_cmd_pulse_ibuf_RNI7Q6U_LC_1_10_0 { i_read_cmd_pulse_ibuf_RNI7Q6U }
ble_pack r_fsm_tx_status_byte_RNO_0_7_LC_1_10_1 { r_fsm_tx_status_byte_RNO_0[7] }
ble_pack r_fsm_tx_status_byte_RNO_0_4_LC_1_10_3 { r_fsm_tx_status_byte_RNO_0[4] }
ble_pack r_fsm_tx_start_pulse_RNO_1_LC_1_10_4 { r_fsm_tx_start_pulse_RNO_1 }
ble_pack r_fsm_tx_start_pulse_LC_1_10_5 { r_fsm_tx_start_pulse_RNO, r_fsm_tx_start_pulse }
ble_pack r_fsm_tx_start_pulse_RNO_2_LC_1_10_6 { r_fsm_tx_start_pulse_RNO_2 }
ble_pack r_fsm_tx_start_pulse_RNO_0_LC_1_10_7 { r_fsm_tx_start_pulse_RNO_0 }
clb_pack LT_1_10 { i_read_cmd_pulse_ibuf_RNI7Q6U_LC_1_10_0, r_fsm_tx_status_byte_RNO_0_7_LC_1_10_1, r_fsm_tx_status_byte_RNO_0_4_LC_1_10_3, r_fsm_tx_start_pulse_RNO_1_LC_1_10_4, r_fsm_tx_start_pulse_LC_1_10_5, r_fsm_tx_start_pulse_RNO_2_LC_1_10_6, r_fsm_tx_start_pulse_RNO_0_LC_1_10_7 }
set_location LT_1_10 1 10
ble_pack r_fsm_tx_start_pulse_RNO_3_LC_1_11_3 { r_fsm_tx_start_pulse_RNO_3 }
clb_pack LT_1_11 { r_fsm_tx_start_pulse_RNO_3_LC_1_11_3 }
set_location LT_1_11 1 11
ble_pack r_status_pending_byte_esr_RNO_2_5_LC_1_12_6 { r_status_pending_byte_esr_RNO_2[5] }
clb_pack LT_1_12 { r_status_pending_byte_esr_RNO_2_5_LC_1_12_6 }
set_location LT_1_12 1 12
ble_pack i_capture_cmd_pulse_ibuf_RNIHT19_LC_2_9_0 { i_capture_cmd_pulse_ibuf_RNIHT19 }
ble_pack r_state_RNIB6U01_1_LC_2_9_1 { r_state_RNIB6U01[1] }
ble_pack r_fsm_tx_status_byte_RNO_0_0_LC_2_9_2 { r_fsm_tx_status_byte_RNO_0[0] }
ble_pack r_fsm_tx_status_byte_0_LC_2_9_3 { r_fsm_tx_status_byte_RNO[0], r_fsm_tx_status_byte[0] }
ble_pack r_fsm_tx_status_byte_RNO_0_3_LC_2_9_4 { r_fsm_tx_status_byte_RNO_0[3] }
ble_pack r_fsm_tx_status_byte_3_LC_2_9_5 { r_fsm_tx_status_byte_RNO[3], r_fsm_tx_status_byte[3] }
ble_pack i_capture_done_pulse_ibuf_RNIV7JL_LC_2_9_6 { i_capture_done_pulse_ibuf_RNIV7JL }
ble_pack r_fsm_tx_status_byte_4_LC_2_9_7 { r_fsm_tx_status_byte_RNO[4], r_fsm_tx_status_byte[4] }
clb_pack LT_2_9 { i_capture_cmd_pulse_ibuf_RNIHT19_LC_2_9_0, r_state_RNIB6U01_1_LC_2_9_1, r_fsm_tx_status_byte_RNO_0_0_LC_2_9_2, r_fsm_tx_status_byte_0_LC_2_9_3, r_fsm_tx_status_byte_RNO_0_3_LC_2_9_4, r_fsm_tx_status_byte_3_LC_2_9_5, i_capture_done_pulse_ibuf_RNIV7JL_LC_2_9_6, r_fsm_tx_status_byte_4_LC_2_9_7 }
set_location LT_2_9 2 9
ble_pack i_capture_done_pulse_ibuf_RNIHS331_LC_2_10_0 { i_capture_done_pulse_ibuf_RNIHS331 }
ble_pack r_fsm_tx_status_byte_RNO_2_1_LC_2_10_1 { r_fsm_tx_status_byte_RNO_2[1] }
ble_pack r_fsm_tx_status_byte_RNO_0_1_LC_2_10_2 { r_fsm_tx_status_byte_RNO_0[1] }
ble_pack r_fsm_tx_status_byte_1_LC_2_10_3 { r_fsm_tx_status_byte_RNO[1], r_fsm_tx_status_byte[1] }
ble_pack i_cmd_error_pulse_ibuf_RNIBPQO_LC_2_10_4 { i_cmd_error_pulse_ibuf_RNIBPQO }
ble_pack i_capture_cmd_pulse_ibuf_RNIJJN22_LC_2_10_5 { i_capture_cmd_pulse_ibuf_RNIJJN22 }
ble_pack r_fsm_tx_status_byte_5_LC_2_10_6 { r_fsm_tx_status_byte_RNO[5], r_fsm_tx_status_byte[5] }
ble_pack r_fsm_tx_status_byte_RNO_1_1_LC_2_10_7 { r_fsm_tx_status_byte_RNO_1[1] }
clb_pack LT_2_10 { i_capture_done_pulse_ibuf_RNIHS331_LC_2_10_0, r_fsm_tx_status_byte_RNO_2_1_LC_2_10_1, r_fsm_tx_status_byte_RNO_0_1_LC_2_10_2, r_fsm_tx_status_byte_1_LC_2_10_3, i_cmd_error_pulse_ibuf_RNIBPQO_LC_2_10_4, i_capture_cmd_pulse_ibuf_RNIJJN22_LC_2_10_5, r_fsm_tx_status_byte_5_LC_2_10_6, r_fsm_tx_status_byte_RNO_1_1_LC_2_10_7 }
set_location LT_2_10 2 10
ble_pack r_fsm_tx_status_byte_RNO_2_5_LC_2_11_0 { r_fsm_tx_status_byte_RNO_2[5] }
ble_pack r_fsm_tx_status_byte_RNO_0_5_LC_2_11_1 { r_fsm_tx_status_byte_RNO_0[5] }
ble_pack r_status_pending_byte_esr_RNO_0_5_LC_2_11_2 { r_status_pending_byte_esr_RNO_0[5] }
ble_pack r_status_pending_byte_esr_5_LC_2_11_3 { r_status_pending_byte_esr_RNO[5], r_status_pending_byte_esr[5] }
ble_pack r_fsm_tx_status_byte_RNO_1_5_LC_2_11_4 { r_fsm_tx_status_byte_RNO_1[5] }
ble_pack r_status_pending_byte_esr_RNO_1_5_LC_2_11_6 { r_status_pending_byte_esr_RNO_1[5] }
ble_pack r_status_pending_byte_esr_RNO_1_1_LC_2_11_7 { r_status_pending_byte_esr_RNO_1[1] }
clb_pack LT_2_11 { r_fsm_tx_status_byte_RNO_2_5_LC_2_11_0, r_fsm_tx_status_byte_RNO_0_5_LC_2_11_1, r_status_pending_byte_esr_RNO_0_5_LC_2_11_2, r_status_pending_byte_esr_5_LC_2_11_3, r_fsm_tx_status_byte_RNO_1_5_LC_2_11_4, r_status_pending_byte_esr_RNO_1_5_LC_2_11_6, r_status_pending_byte_esr_RNO_1_1_LC_2_11_7 }
set_location LT_2_11 2 11
ble_pack r_status_pending_byte_esr_RNO_2_1_LC_2_12_0 { r_status_pending_byte_esr_RNO_2[1] }
ble_pack r_status_pending_byte_esr_RNO_0_1_LC_2_12_1 { r_status_pending_byte_esr_RNO_0[1] }
ble_pack r_status_pending_byte_esr_1_LC_2_12_2 { r_status_pending_byte_esr_RNO[1], r_status_pending_byte_esr[1] }
ble_pack r_status_pending_byte_esr_RNO_1_4_LC_2_12_3 { r_status_pending_byte_esr_RNO_1[4] }
ble_pack r_status_pending_byte_esr_4_LC_2_12_4 { r_status_pending_byte_esr_RNO[4], r_status_pending_byte_esr[4] }
ble_pack r_status_pending_byte_esr_RNO_2_4_LC_2_12_5 { r_status_pending_byte_esr_RNO_2[4] }
ble_pack r_status_pending_byte_esr_RNO_0_4_LC_2_12_6 { r_status_pending_byte_esr_RNO_0[4] }
clb_pack LT_2_12 { r_status_pending_byte_esr_RNO_2_1_LC_2_12_0, r_status_pending_byte_esr_RNO_0_1_LC_2_12_1, r_status_pending_byte_esr_1_LC_2_12_2, r_status_pending_byte_esr_RNO_1_4_LC_2_12_3, r_status_pending_byte_esr_4_LC_2_12_4, r_status_pending_byte_esr_RNO_2_4_LC_2_12_5, r_status_pending_byte_esr_RNO_0_4_LC_2_12_6 }
set_location LT_2_12 2 12
ble_pack i_cmd_error_pulse_ibuf_RNIEH0I_0_LC_4_8_0 { i_cmd_error_pulse_ibuf_RNIEH0I_0 }
ble_pack i_cmd_error_pulse_ibuf_RNIIPKP_LC_4_8_1 { i_cmd_error_pulse_ibuf_RNIIPKP }
clb_pack LT_4_8 { i_cmd_error_pulse_ibuf_RNIEH0I_0_LC_4_8_0, i_cmd_error_pulse_ibuf_RNIIPKP_LC_4_8_1 }
set_location LT_4_8 4 8
ble_pack i_capture_done_pulse_ibuf_RNIQ3F81_LC_4_9_0 { i_capture_done_pulse_ibuf_RNIQ3F81 }
ble_pack i_read_cmd_pulse_ibuf_RNIL9IH_LC_4_9_1 { i_read_cmd_pulse_ibuf_RNIL9IH }
ble_pack r_status_pending_valid_RNII5B92_LC_4_9_2 { r_status_pending_valid_RNII5B92 }
ble_pack r_status_pending_valid_LC_4_9_3 { r_status_pending_valid_RNO, r_status_pending_valid }
ble_pack r_status_pending_valid_RNIOORJ_LC_4_9_4 { r_status_pending_valid_RNIOORJ }
ble_pack r_status_pending_valid_fast_RNIQ9RF1_LC_4_9_5 { r_status_pending_valid_fast_RNIQ9RF1 }
ble_pack r_status_pending_valid_fast_LC_4_9_7 { r_status_pending_valid_fast_RNO, r_status_pending_valid_fast }
clb_pack LT_4_9 { i_capture_done_pulse_ibuf_RNIQ3F81_LC_4_9_0, i_read_cmd_pulse_ibuf_RNIL9IH_LC_4_9_1, r_status_pending_valid_RNII5B92_LC_4_9_2, r_status_pending_valid_LC_4_9_3, r_status_pending_valid_RNIOORJ_LC_4_9_4, r_status_pending_valid_fast_RNIQ9RF1_LC_4_9_5, r_status_pending_valid_fast_LC_4_9_7 }
set_location LT_4_9 4 9
ble_pack r_state_0_LC_4_10_0 { r_state_RNO[0], r_state[0] }
ble_pack i_capture_done_pulse_ibuf_RNI8AQE_LC_4_10_1 { i_capture_done_pulse_ibuf_RNI8AQE }
ble_pack i_tx_busy_ibuf_RNIAAER1_LC_4_10_2 { i_tx_busy_ibuf_RNIAAER1 }
ble_pack i_rst_ibuf_gb_io_RNIFJ522_LC_4_10_3 { i_rst_ibuf_gb_io_RNIFJ522 }
ble_pack r_state_ns_1_0__m9_0_0_LC_4_10_4 { r_state_ns_1_0_.m9_0_0 }
ble_pack r_state_1_LC_4_10_5 { r_state_RNO[1], r_state[1] }
ble_pack i_read_cmd_pulse_ibuf_RNIL9IH_0_LC_4_10_6 { i_read_cmd_pulse_ibuf_RNIL9IH_0 }
ble_pack r_state_ns_1_0__m6_i_a3_0_LC_4_10_7 { r_state_ns_1_0_.m6_i_a3_0 }
clb_pack LT_4_10 { r_state_0_LC_4_10_0, i_capture_done_pulse_ibuf_RNI8AQE_LC_4_10_1, i_tx_busy_ibuf_RNIAAER1_LC_4_10_2, i_rst_ibuf_gb_io_RNIFJ522_LC_4_10_3, r_state_ns_1_0__m9_0_0_LC_4_10_4, r_state_1_LC_4_10_5, i_read_cmd_pulse_ibuf_RNIL9IH_0_LC_4_10_6, r_state_ns_1_0__m6_i_a3_0_LC_4_10_7 }
set_location LT_4_10 4 10
ble_pack r_status_pending_byte_esr_RNO_1_7_LC_4_11_0 { r_status_pending_byte_esr_RNO_1[7] }
ble_pack r_status_pending_byte_esr_7_LC_4_11_1 { r_status_pending_byte_esr_RNO[7], r_status_pending_byte_esr[7] }
ble_pack r_status_pending_byte_esr_RNO_2_7_LC_4_11_2 { r_status_pending_byte_esr_RNO_2[7] }
ble_pack r_status_pending_byte_esr_RNO_0_7_LC_4_11_3 { r_status_pending_byte_esr_RNO_0[7] }
ble_pack r_state_ns_1_0__m9_0_a2_LC_4_11_5 { r_state_ns_1_0_.m9_0_a2 }
ble_pack r_status_pending_valid_RNIPOUM_LC_4_11_6 { r_status_pending_valid_RNIPOUM }
clb_pack LT_4_11 { r_status_pending_byte_esr_RNO_1_7_LC_4_11_0, r_status_pending_byte_esr_7_LC_4_11_1, r_status_pending_byte_esr_RNO_2_7_LC_4_11_2, r_status_pending_byte_esr_RNO_0_7_LC_4_11_3, r_state_ns_1_0__m9_0_a2_LC_4_11_5, r_status_pending_valid_RNIPOUM_LC_4_11_6 }
set_location LT_4_11 4 11
ble_pack r_status_pending_byte_esr_RNO_6_0_LC_4_12_0 { r_status_pending_byte_esr_RNO_6[0] }
ble_pack r_status_pending_byte_esr_RNO_2_0_LC_4_12_1 { r_status_pending_byte_esr_RNO_2[0] }
ble_pack r_status_pending_byte_esr_0_LC_4_12_2 { r_status_pending_byte_esr_RNO[0], r_status_pending_byte_esr[0] }
ble_pack r_status_pending_byte_esr_RNO_7_0_LC_4_12_4 { r_status_pending_byte_esr_RNO_7[0] }
ble_pack r_status_pending_byte_esr_RNO_0_3_LC_4_12_5 { r_status_pending_byte_esr_RNO_0[3] }
ble_pack r_status_pending_byte_esr_3_LC_4_12_6 { r_status_pending_byte_esr_RNO[3], r_status_pending_byte_esr[3] }
ble_pack r_status_pending_byte_esr_RNO_2_3_LC_4_12_7 { r_status_pending_byte_esr_RNO_2[3] }
clb_pack LT_4_12 { r_status_pending_byte_esr_RNO_6_0_LC_4_12_0, r_status_pending_byte_esr_RNO_2_0_LC_4_12_1, r_status_pending_byte_esr_0_LC_4_12_2, r_status_pending_byte_esr_RNO_7_0_LC_4_12_4, r_status_pending_byte_esr_RNO_0_3_LC_4_12_5, r_status_pending_byte_esr_3_LC_4_12_6, r_status_pending_byte_esr_RNO_2_3_LC_4_12_7 }
set_location LT_4_12 4 12
ble_pack r_USER_LED_LC_4_13_5 { r_USER_LED_RNO, r_USER_LED }
clb_pack LT_4_13 { r_USER_LED_LC_4_13_5 }
set_location LT_4_13 4 13
ble_pack r_send_start_pulse_RNO_0_LC_4_14_3 { r_send_start_pulse_RNO_0 }
ble_pack r_send_start_pulse_LC_4_14_4 { r_send_start_pulse_RNO, r_send_start_pulse }
ble_pack r_capture_start_pulse_LC_4_14_7 { r_capture_start_pulse_RNO, r_capture_start_pulse }
clb_pack LT_4_14 { r_send_start_pulse_RNO_0_LC_4_14_3, r_send_start_pulse_LC_4_14_4, r_capture_start_pulse_LC_4_14_7 }
set_location LT_4_14 4 14
ble_pack r_fsm_tx_status_byte_RNO_3_2_LC_5_8_0 { r_fsm_tx_status_byte_RNO_3[2] }
clb_pack LT_5_8 { r_fsm_tx_status_byte_RNO_3_2_LC_5_8_0 }
set_location LT_5_8 5 8
ble_pack CONSTANT_ONE_LUT4_LC_5_9_5 { CONSTANT_ONE_LUT4 }
ble_pack r_status_pending_valid_fast_RNI2HVR_LC_5_9_6 { r_status_pending_valid_fast_RNI2HVR }
clb_pack LT_5_9 { CONSTANT_ONE_LUT4_LC_5_9_5, r_status_pending_valid_fast_RNI2HVR_LC_5_9_6 }
set_location LT_5_9 5 9
ble_pack r_fsm_tx_status_byte_RNO_1_2_LC_5_10_0 { r_fsm_tx_status_byte_RNO_1[2] }
ble_pack r_fsm_tx_status_byte_2_LC_5_10_1 { r_fsm_tx_status_byte_RNO[2], r_fsm_tx_status_byte[2] }
ble_pack r_status_pending_byte_2_LC_5_10_2 { r_status_pending_byte_RNO[2], r_status_pending_byte[2] }
ble_pack r_status_pending_valid_rep1_LC_5_10_3 { r_status_pending_valid_rep1_RNO, r_status_pending_valid_rep1 }
ble_pack r_fsm_tx_status_byte_RNO_2_2_LC_5_10_4 { r_fsm_tx_status_byte_RNO_2[2] }
ble_pack r_fsm_tx_status_byte_RNO_1_6_LC_5_10_6 { r_fsm_tx_status_byte_RNO_1[6] }
ble_pack r_status_pending_byte_6_LC_5_10_7 { r_status_pending_byte_RNO[6], r_status_pending_byte[6] }
clb_pack LT_5_10 { r_fsm_tx_status_byte_RNO_1_2_LC_5_10_0, r_fsm_tx_status_byte_2_LC_5_10_1, r_status_pending_byte_2_LC_5_10_2, r_status_pending_valid_rep1_LC_5_10_3, r_fsm_tx_status_byte_RNO_2_2_LC_5_10_4, r_fsm_tx_status_byte_RNO_1_6_LC_5_10_6, r_status_pending_byte_6_LC_5_10_7 }
set_location LT_5_10 5 10
ble_pack r_fsm_tx_status_byte_RNO_0_6_LC_5_11_0 { r_fsm_tx_status_byte_RNO_0[6] }
ble_pack r_fsm_tx_status_byte_6_LC_5_11_1 { r_fsm_tx_status_byte_RNO[6], r_fsm_tx_status_byte[6] }
ble_pack r_fsm_tx_status_byte_RNO_4_6_LC_5_11_2 { r_fsm_tx_status_byte_RNO_4[6] }
ble_pack r_fsm_tx_status_byte_RNO_3_6_LC_5_11_3 { r_fsm_tx_status_byte_RNO_3[6] }
ble_pack r_fsm_tx_status_byte_RNO_2_6_LC_5_11_4 { r_fsm_tx_status_byte_RNO_2[6] }
ble_pack r_state_ns_1_0__m6_i_a3_LC_5_11_5 { r_state_ns_1_0_.m6_i_a3 }
ble_pack r_status_pending_byte_esr_RNO_5_0_LC_5_11_6 { r_status_pending_byte_esr_RNO_5[0] }
clb_pack LT_5_11 { r_fsm_tx_status_byte_RNO_0_6_LC_5_11_0, r_fsm_tx_status_byte_6_LC_5_11_1, r_fsm_tx_status_byte_RNO_4_6_LC_5_11_2, r_fsm_tx_status_byte_RNO_3_6_LC_5_11_3, r_fsm_tx_status_byte_RNO_2_6_LC_5_11_4, r_state_ns_1_0__m6_i_a3_LC_5_11_5, r_status_pending_byte_esr_RNO_5_0_LC_5_11_6 }
set_location LT_5_11 5 11
ble_pack r_status_pending_byte_esr_RNO_4_0_LC_5_12_1 { r_status_pending_byte_esr_RNO_4[0] }
ble_pack r_status_pending_byte_esr_RNO_0_0_LC_5_12_2 { r_status_pending_byte_esr_RNO_0[0] }
ble_pack r_status_pending_byte_esr_RNO_1_0_LC_5_12_4 { r_status_pending_byte_esr_RNO_1[0] }
ble_pack r_status_pending_byte_esr_RNO_8_0_LC_5_12_5 { r_status_pending_byte_esr_RNO_8[0] }
ble_pack r_status_pending_byte_esr_RNO_3_0_LC_5_12_6 { r_status_pending_byte_esr_RNO_3[0] }
ble_pack r_status_pending_byte_esr_RNO_1_3_LC_5_12_7 { r_status_pending_byte_esr_RNO_1[3] }
clb_pack LT_5_12 { r_status_pending_byte_esr_RNO_4_0_LC_5_12_1, r_status_pending_byte_esr_RNO_0_0_LC_5_12_2, r_status_pending_byte_esr_RNO_1_0_LC_5_12_4, r_status_pending_byte_esr_RNO_8_0_LC_5_12_5, r_status_pending_byte_esr_RNO_3_0_LC_5_12_6, r_status_pending_byte_esr_RNO_1_3_LC_5_12_7 }
set_location LT_5_12 5 12
ble_pack r_fsm_tx_status_byte_RNO_0_2_LC_6_10_3 { r_fsm_tx_status_byte_RNO_0[2] }
clb_pack LT_6_10 { r_fsm_tx_status_byte_RNO_0_2_LC_6_10_3 }
set_location LT_6_10 6 10
set_io o_fsm_tx_status_byte[6] 93
set_io i_read_cmd_pulse 18
set_io o_fsm_tx_status_byte[1] 4
set_io o_capture_start_pulse 95
set_io o_USER_LED 90
set_io i_send_done_pulse 89
set_io o_send_start_pulse 97
set_io o_fsm_tx_status_byte[4] 2
set_io o_fsm_tx_status_byte[0] 99
set_io i_clk 15
set_io o_fsm_tx_status_byte[7] 12
set_io o_fsm_tx_status_byte[3] 100
set_io o_fsm_tx_start_pulse 9
set_io i_rst 13
set_io i_capture_cmd_pulse 21
set_io o_fsm_tx_status_byte[2] 94
set_io i_cmd_error_pulse 16
set_io i_capture_done_pulse 19
set_io o_fsm_tx_status_byte[5] 8
set_io i_tx_busy 25
