ble_pack r_mux_tx_byte_esr_6_LC_1_8_0 { r_mux_tx_byte_esr_RNO[6], r_mux_tx_byte_esr[6] }
ble_pack r_mux_tx_byte_esr_7_LC_1_8_1 { r_mux_tx_byte_esr_RNO[7], r_mux_tx_byte_esr[7] }
clb_pack LT_1_8 { r_mux_tx_byte_esr_6_LC_1_8_0, r_mux_tx_byte_esr_7_LC_1_8_1 }
set_location LT_1_8 1 8
ble_pack r_mux_tx_start_pulse_RNO_LC_2_13_4 { r_mux_tx_start_pulse_RNO }
clb_pack LT_2_13 { r_mux_tx_start_pulse_RNO_LC_2_13_4 }
set_location LT_2_13 2 13
ble_pack i_send_tx_start_pulse_ibuf_RNIGI041_LC_2_14_0 { i_send_tx_start_pulse_ibuf_RNIGI041 }
clb_pack LT_2_14 { i_send_tx_start_pulse_ibuf_RNIGI041_LC_2_14_0 }
set_location LT_2_14 2 14
ble_pack r_mux_tx_byte_esr_0_LC_2_16_2 { r_mux_tx_byte_esr_RNO[0], r_mux_tx_byte_esr[0] }
clb_pack LT_2_16 { r_mux_tx_byte_esr_0_LC_2_16_2 }
set_location LT_2_16 2 16
ble_pack r_mux_tx_byte_esr_1_LC_4_16_3 { r_mux_tx_byte_esr_RNO[1], r_mux_tx_byte_esr[1] }
ble_pack r_mux_tx_byte_esr_2_LC_4_16_4 { r_mux_tx_byte_esr_RNO[2], r_mux_tx_byte_esr[2] }
ble_pack r_mux_tx_byte_esr_3_LC_4_16_5 { r_mux_tx_byte_esr_RNO[3], r_mux_tx_byte_esr[3] }
ble_pack r_mux_tx_byte_esr_4_LC_4_16_6 { r_mux_tx_byte_esr_RNO[4], r_mux_tx_byte_esr[4] }
ble_pack r_mux_tx_byte_esr_5_LC_4_16_7 { r_mux_tx_byte_esr_RNO[5], r_mux_tx_byte_esr[5] }
clb_pack LT_4_16 { r_mux_tx_byte_esr_1_LC_4_16_3, r_mux_tx_byte_esr_2_LC_4_16_4, r_mux_tx_byte_esr_3_LC_4_16_5, r_mux_tx_byte_esr_4_LC_4_16_6, r_mux_tx_byte_esr_5_LC_4_16_7 }
set_location LT_4_16 4 16
set_io o_mux_tx_byte[7] 25
set_io i_send_tx_byte[3] 94
set_io i_fsm_tx_status_byte[6] 12
set_io o_mux_tx_start_pulse 7
set_io o_mux_tx_byte[4] 3
set_io i_send_tx_byte[0] 90
set_io i_fsm_tx_status_byte[5] 87
set_io o_mux_tx_byte[5] 4
set_io i_send_tx_byte[1] 91
set_io i_fsm_tx_status_byte[4] 86
set_io o_mux_tx_byte[2] 1
set_io i_send_tx_byte[6] 16
set_io i_fsm_tx_status_byte[3] 85
set_io o_mux_tx_byte[3] 2
set_io i_send_tx_byte[7] 18
set_io i_fsm_tx_status_byte[2] 83
set_io i_clk 13
set_io o_mux_tx_byte[0] 99
set_io i_send_tx_start_pulse 97
set_io i_send_tx_byte[4] 95
set_io i_rst 89
set_io i_fsm_tx_status_byte[1] 82
set_io i_fsm_tx_start_pulse 21
set_io o_mux_tx_byte[1] 100
set_io i_send_tx_byte[5] 96
set_io i_fsm_tx_status_byte[0] 8
set_io o_mux_tx_byte[6] 19
set_io i_send_tx_byte[2] 93
set_io i_fsm_tx_status_byte[7] 15
