set_location IN_MUX_bfv_9_11_0_ 9 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_12_0_ 9 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_12_0_ 11 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_13_0_ 11 13 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_9_0_ 9 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_10_0_ 9 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_9_0_ 7 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_10_0_ 7 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_11_0_ 7 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_7_12_0_ 7 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_9_0_ 12 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_10_0_ 12 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_11_0_ 12 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_12_12_0_ 12 12 0 #ICE_CARRY_IN_MUX
set_location fsm_proc_un6_r_clk_counter_THRU_LUT4_0 9 12 0 #SB_LUT4
set_location fsm_proc_un22_r_clk_counter_THRU_LUT4_0 11 13 0 #SB_LUT4
set_location fsm_proc_un10_r_clk_counter_THRU_LUT4_0 9 10 0 #SB_LUT4
set_location r_rx_sync_2_THRU_LUT4_0 8 13 7 #SB_LUT4
set_location r_rx_sync_1_THRU_LUT4_0 7 13 2 #SB_LUT4
set_location r_clk_counter[2] 8 9 4 #SB_DFFSR
set_location r_clk_counter_RNO[9] 7 10 1 #SB_LUT4
set_location fsm_proc.un10_r_clk_counter_7_c 9 9 7 #SB_CARRY
set_location r_clk_counter[15] 7 10 7 #SB_DFFSR
set_location r_bit_counter_RNO[25] 12 12 1 #SB_LUT4
set_location un1_r_clk_counter_1_cry_15_c 7 10 7 #SB_CARRY
set_location r_clk_counter_RNO[13] 7 10 5 #SB_LUT4
set_location r_bit_counter_RNO[12] 12 10 4 #SB_LUT4
set_location un1_r_bit_counter_1_cry_22_c 12 11 6 #SB_CARRY
set_location r_rx_byte_RNO[5] 8 12 1 #SB_LUT4
set_location un1_r_clk_counter_1_cry_30_c 7 12 6 #SB_CARRY
set_location un1_r_bit_counter_1_cry_30_c 12 12 6 #SB_CARRY
set_location r_bit_counter_RNO[4] 12 9 4 #SB_LUT4
set_location r_bit_counter_RNO[28] 12 12 4 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_5_c 11 12 5 #SB_CARRY
set_location r_bit_counter[25] 12 12 1 #SB_DFFSR
set_location r_bit_counter[13] 12 10 5 #SB_DFFSR
set_location r_bit_counter[1] 12 9 1 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_28_c 12 12 4 #SB_CARRY
set_location r_clk_counter_RNO[19] 7 11 3 #SB_LUT4
set_location r_bit_counter_RNO[9] 12 10 1 #SB_LUT4
set_location un1_r_clk_counter_1_cry_22_c 7 11 6 #SB_CARRY
set_location un1_r_clk_counter_1_cry_16_c 7 11 0 #SB_CARRY
set_location un1_r_bit_counter_1_cry_6_c 12 9 6 #SB_CARRY
set_location un1_r_bit_counter_1_cry_27_c 12 12 3 #SB_CARRY
set_location un1_r_bit_counter_1_cry_15_c 12 10 7 #SB_CARRY
set_location r_rx_byte[1] 8 12 6 #SB_DFFSR
set_location r_clk_counter[5] 8 9 2 #SB_DFFSR
set_location r_clk_counter[24] 7 12 0 #SB_DFFSR
set_location fsm_proc.un22_r_clk_counter_7_c 11 12 7 #SB_CARRY
set_location r_rx_byte_RNO_0[1] 9 12 5 #SB_LUT4
set_location r_clk_counter_RNO[4] 8 9 1 #SB_LUT4
set_location r_clk_counter_RNO[28] 7 12 4 #SB_LUT4
set_location r_bit_counter[16] 12 11 0 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_11_c 7 10 3 #SB_CARRY
set_location r_clk_counter[31] 7 12 7 #SB_DFFSR
set_location r_bit_counter_RNO[22] 12 11 6 #SB_LUT4
set_location r_bit_counter[28] 12 12 4 #SB_DFFSR
set_location r_rx_byte[4] 8 12 5 #SB_DFFSR
set_location r_clk_counter[0] 7 9 0 #SB_DFFSR
set_location r_bit_counter[30] 12 12 6 #SB_DFFSR
set_location fsm_proc.un22_r_clk_counter_7_c_RNIMM6B 12 8 1 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_0_c 11 12 0 #SB_CARRY
set_location un1_r_clk_counter_1_cry_23_c 7 11 7 #SB_CARRY
set_location un1_r_clk_counter_1_cry_12_c 7 10 4 #SB_CARRY
set_location r_clk_counter_RNO[23] 7 11 7 #SB_LUT4
set_location r_bit_counter_RNO[11] 12 10 3 #SB_LUT4
set_location r_bit_counter[19] 12 11 3 #SB_DFFSR
set_location fsm_proc.un22_r_clk_counter_2_c_RNO 11 11 1 #SB_LUT4
set_location r_rx_byte_RNO[0] 8 12 3 #SB_LUT4
set_location r_clk_counter[29] 7 12 5 #SB_DFFSR
set_location r_clk_counter[17] 7 11 1 #SB_DFFSR
set_location r_bit_counter_RNO[27] 12 12 3 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_1_c_RNO 11 10 0 #SB_LUT4
set_location un1_r_clk_counter_1_cry_7_c 7 9 7 #SB_CARRY
set_location r_bit_counter[9] 12 10 1 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_10_c 12 10 2 #SB_CARRY
set_location r_state_RNI6KS51[0] 12 8 2 #SB_LUT4
set_location r_clk_counter_RNO[26] 7 12 2 #SB_LUT4
set_location r_clk_counter_RNO[11] 7 10 3 #SB_LUT4
set_location r_bit_counter_RNO[1] 12 9 1 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_6_c 9 11 6 #SB_CARRY
set_location fsm_proc.un22_r_clk_counter_2_c 11 12 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_2_c 12 9 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_24_c 12 12 0 #SB_CARRY
set_location r_state_RNIL0I4[0] 8 10 1 #SB_LUT4
set_location r_clk_counter_RNIST191[8] 8 10 0 #SB_LUT4
set_location r_bit_counter[26] 12 12 2 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_8_c 7 10 0 #SB_CARRY
set_location r_clk_counter_RNI4RKJ1[31] 8 11 0 #SB_LUT4
set_location r_bit_counter[2] 12 9 2 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_0_c_RNO 8 10 3 #SB_LUT4
set_location fsm_proc.un10_r_clk_counter_0_c_RNO 8 10 7 #SB_LUT4
set_location un1_r_clk_counter_1_cry_5_c 7 9 5 #SB_CARRY
set_location un1_r_clk_counter_1_cry_26_c 7 12 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_23_c 12 11 7 #SB_CARRY
set_location r_bit_counter_RNO[6] 12 9 6 #SB_LUT4
set_location un1_r_clk_counter_1_cry_17_c 7 11 1 #SB_CARRY
set_location r_clk_counter[8] 7 10 0 #SB_DFFSR
set_location r_clk_counter[23] 7 11 7 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_7_c 9 11 7 #SB_CARRY
set_location un1_r_clk_counter_1_cry_2_c 7 9 2 #SB_CARRY
set_location r_state[0] 9 10 7 #SB_DFF
set_location r_rx_byte_RNO_0[2] 9 12 3 #SB_LUT4
set_location r_clk_counter_RNO[3] 7 9 3 #SB_LUT4
set_location r_bit_counter[7] 12 9 7 #SB_DFFSR
set_location r_bit_counter[11] 12 10 3 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_28_c 7 12 4 #SB_CARRY
set_location un1_r_bit_counter_1_cry_8_c 12 10 0 #SB_CARRY
set_location r_rx_byte[3] 8 12 4 #SB_DFFSR
set_location r_clk_counter[3] 7 9 3 #SB_DFFSR
set_location r_clk_counter[26] 7 12 2 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_3_c 7 9 3 #SB_CARRY
set_location r_state_RNO_0[0] 9 10 6 #SB_LUT4
set_location r_clk_counter_RNO[6] 7 9 6 #SB_LUT4
set_location r_bit_counter_RNO[14] 12 10 6 #SB_LUT4
set_location r_bit_counter[14] 12 10 6 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_5_c 9 11 5 #SB_CARRY
set_location fsm_proc.un22_r_clk_counter_6_c_RNO 12 13 1 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_3_c_RNO 11 11 2 #SB_LUT4
set_location un1_r_clk_counter_1_cry_25_c 7 12 1 #SB_CARRY
set_location un1_r_bit_counter_1_cry_7_c 12 9 7 #SB_CARRY
set_location r_state_RNO[0] 9 10 7 #SB_LUT4
set_location r_rx_byte_RNO[3] 8 12 4 #SB_LUT4
set_location r_clk_counter[14] 7 10 6 #SB_DFFSR
set_location r_bit_counter_RNO[24] 12 12 0 #SB_LUT4
set_location r_rx_valid_pulse_RNO 8 11 5 #SB_LUT4
set_location r_rx_byte[6] 9 13 3 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_2_c 9 11 2 #SB_CARRY
set_location r_clk_counter_RNO[21] 7 11 5 #SB_LUT4
set_location r_clk_counter_RNO[12] 7 10 4 #SB_LUT4
set_location r_bit_counter_RNO[13] 12 10 5 #SB_LUT4
set_location un1_r_clk_counter_1_cry_1_c 7 9 1 #SB_CARRY
set_location r_state_RNI3JDA[1] 9 10 2 #SB_LUT4
set_location r_rx_byte_RNO[6] 9 13 3 #SB_LUT4
set_location r_clk_counter[11] 7 10 3 #SB_DFFSR
set_location r_bit_counter[23] 12 11 7 #SB_DFFSR
set_location r_UART_RX_LED 9 8 7 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_3_c 9 11 3 #SB_CARRY
set_location un1_r_clk_counter_1_cry_13_c 7 10 5 #SB_CARRY
set_location fsm_proc.un22_r_clk_counter_0_c_RNO 11 10 1 #SB_LUT4
set_location fsm_proc.un10_r_clk_counter_1_c_RNO 8 9 5 #SB_LUT4
set_location r_rx_valid_pulse 8 11 5 #SB_DFF
set_location r_clk_counter_RNO[24] 7 12 0 #SB_LUT4
set_location r_clk_counter_RNO[17] 7 11 1 #SB_LUT4
set_location r_bit_counter_RNO[31] 12 12 7 #SB_LUT4
set_location r_bit_counter_RNO[3] 12 9 3 #SB_LUT4
set_location un1_r_clk_counter_1_cry_6_c 7 9 6 #SB_CARRY
set_location un1_r_bit_counter_1_cry_14_c 12 10 6 #SB_CARRY
set_location r_bit_counter[24] 12 12 0 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_4_c 12 9 4 #SB_CARRY
set_location r_rx_byte_RNO_0[7] 8 11 7 #SB_LUT4
set_location r_clk_counter_RNIMAIJ1[20] 8 11 3 #SB_LUT4
set_location r_bit_counter[0] 12 9 0 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_1_c 9 11 1 #SB_CARRY
set_location un1_r_clk_counter_1_cry_21_c 7 11 5 #SB_CARRY
set_location un1_r_bit_counter_1_cry_9_c 12 10 1 #SB_CARRY
set_location un1_r_bit_counter_1_cry_3_c 12 9 3 #SB_CARRY
set_location r_clk_counter_RNO[31] 7 12 7 #SB_LUT4
set_location r_clk_counter_RNO[18] 7 11 2 #SB_LUT4
set_location r_bit_counter_RNO[8] 12 10 0 #SB_LUT4
set_location r_UART_RX_LED_RNO 9 8 7 #SB_LUT4
set_location fsm_proc.un10_r_clk_counter_1_c 9 9 1 #SB_CARRY
set_location r_clk_counter_RNIAREJ1[16] 8 10 4 #SB_LUT4
set_location r_clk_counter[6] 7 9 6 #SB_DFFSR
set_location r_clk_counter[25] 7 12 1 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_4_c 7 9 4 #SB_CARRY
set_location un1_r_clk_counter_1_cry_18_c 7 11 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_0_c 12 9 0 #SB_CARRY
set_location r_rx_byte_RNO_0[0] 9 12 6 #SB_LUT4
set_location r_clk_counter_RNO[5] 8 9 2 #SB_LUT4
set_location r_clk_counter_RNO[29] 7 12 5 #SB_LUT4
set_location r_bit_counter[5] 12 9 5 #SB_DFFSR
set_location r_bit_counter[17] 12 11 1 #SB_DFFSR
set_location r_rx_sync_1 7 13 2 #SB_DFFSS
set_location r_clk_counter_RNIQAEJ1[12] 8 10 6 #SB_LUT4
set_location r_clk_counter[30] 7 12 6 #SB_DFFSR
set_location r_clk_counter[19] 7 11 3 #SB_DFFSR
set_location r_bit_counter_RNO[21] 12 11 5 #SB_LUT4
set_location r_rx_byte[5] 8 12 1 #SB_DFFSR
set_location r_clk_counter[1] 7 9 1 #SB_DFFSR
set_location r_bit_counter[31] 12 12 7 #SB_DFFSR
set_location r_clk_counter_RNO[8] 7 10 0 #SB_LUT4
set_location r_bit_counter_RNO[16] 12 11 0 #SB_LUT4
set_location r_rx_byte_RNO[1] 8 12 6 #SB_LUT4
set_location r_clk_counter[16] 7 11 0 #SB_DFFSR
set_location r_bit_counter_RNO[26] 12 12 2 #SB_LUT4
set_location r_bit_counter[8] 12 10 0 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_4_c 9 11 4 #SB_CARRY
set_location un1_r_clk_counter_1_cry_24_c 7 12 0 #SB_CARRY
set_location r_clk_counter_RNO[27] 7 12 3 #SB_LUT4
set_location r_clk_counter_RNO[10] 7 10 2 #SB_LUT4
set_location r_bit_counter_RNO[0] 12 9 0 #SB_LUT4
set_location fsm_proc.un10_r_clk_counter_5_c 9 9 5 #SB_CARRY
set_location r_rx_byte_RNO[4] 8 12 5 #SB_LUT4
set_location r_clk_counter[13] 7 10 5 #SB_DFFSR
set_location r_bit_counter[21] 12 11 5 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_5_c 12 9 5 #SB_CARRY
set_location un1_r_bit_counter_1_cry_29_c 12 12 5 #SB_CARRY
set_location r_clk_counter_RNO[15] 7 10 7 #SB_LUT4
set_location r_bit_counter_RNO[5] 12 9 5 #SB_LUT4
set_location r_bit_counter_RNO[29] 12 12 5 #SB_LUT4
set_location r_bit_counter_RNO[18] 12 11 2 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_6_c 11 12 6 #SB_CARRY
set_location un1_r_bit_counter_1_cry_20_c 12 11 4 #SB_CARRY
set_location r_clk_counter[9] 7 10 1 #SB_DFFSR
set_location r_clk_counter[20] 7 11 4 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_13_c 12 10 5 #SB_CARRY
set_location r_state[1] 9 10 5 #SB_DFF
set_location r_rx_byte_RNO_0[5] 8 11 6 #SB_LUT4
set_location r_clk_counter_RNO_0[5] 7 9 5 #SB_LUT4
set_location r_clk_counter_RNO[0] 7 9 0 #SB_LUT4
set_location r_bit_counter[6] 12 9 6 #SB_DFFSR
set_location r_bit_counter[12] 12 10 4 #SB_DFFSR
set_location fsm_proc.un10_r_clk_counter_6_c 9 9 6 #SB_CARRY
set_location r_rx_sync_2 8 13 7 #SB_DFFSS
set_location fsm_proc.un6_r_clk_counter_7_c_RNIMDD5 9 12 7 #SB_LUT4
set_location r_rx_byte[0] 8 12 3 #SB_DFFSR
set_location r_clk_counter[4] 8 9 1 #SB_DFFSR
set_location r_clk_counter[27] 7 12 3 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_1_c_RNO 8 10 5 #SB_LUT4
set_location un1_r_clk_counter_1_cry_14_c 7 10 6 #SB_CARRY
set_location r_clk_counter_RNO[7] 7 9 7 #SB_LUT4
set_location r_bit_counter_RNO[15] 12 10 7 #SB_LUT4
set_location r_bit_counter[15] 12 10 7 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location r_state_RNO[1] 9 10 5 #SB_LUT4
set_location r_bit_counter_RNO[23] 12 11 7 #SB_LUT4
set_location r_bit_counter[29] 12 12 5 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_1_c 12 9 1 #SB_CARRY
set_location r_rx_byte[7] 8 12 2 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_19_c 12 11 3 #SB_CARRY
set_location r_clk_counter_RNO[22] 7 11 6 #SB_LUT4
set_location r_bit_counter_RNO[10] 12 10 2 #SB_LUT4
set_location r_bit_counter[18] 12 11 2 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_7_c_RNIGFOB 9 12 1 #SB_LUT4
set_location un1_r_bit_counter_1_cry_25_c 12 12 1 #SB_CARRY
set_location r_rx_byte_RNO[7] 8 12 2 #SB_LUT4
set_location r_clk_counter[28] 7 12 4 #SB_DFFSR
set_location r_clk_counter[10] 7 10 2 #SB_DFFSR
set_location r_bit_counter[22] 12 11 6 #SB_DFFSR
set_location fsm_proc.un10_r_clk_counter_3_c 9 9 3 #SB_CARRY
set_location un1_r_bit_counter_1_cry_17_c 12 11 1 #SB_CARRY
set_location r_clk_counter_RNO[25] 7 12 1 #SB_LUT4
set_location r_clk_counter_RNO[16] 7 11 0 #SB_LUT4
set_location r_bit_counter_RNO[2] 12 9 2 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_7_c_RNO 11 13 5 #SB_LUT4
set_location r_bit_counter[27] 12 12 3 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_19_c 7 11 3 #SB_CARRY
set_location un1_r_bit_counter_1_cry_26_c 12 12 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_12_c 12 10 4 #SB_CARRY
set_location r_rx_byte_RNO_0[6] 9 12 2 #SB_LUT4
set_location r_clk_counter_RNO_0[2] 7 9 2 #SB_LUT4
set_location r_bit_counter[3] 12 9 3 #SB_DFFSR
set_location fsm_proc.un10_r_clk_counter_2_c 9 9 2 #SB_CARRY
set_location r_clk_counter_RNO[30] 7 12 6 #SB_LUT4
set_location r_bit_counter_RNO[7] 12 9 7 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_4_c_RNO 11 11 6 #SB_LUT4
set_location un1_r_clk_counter_1_cry_10_c 7 10 2 #SB_CARRY
set_location r_clk_counter[7] 7 9 7 #SB_DFFSR
set_location r_clk_counter[22] 7 11 6 #SB_DFFSR
set_location r_rx_byte_RNO_0[3] 8 11 2 #SB_LUT4
set_location r_clk_counter_RNO[2] 8 9 4 #SB_LUT4
set_location r_bit_counter[4] 12 9 4 #SB_DFFSR
set_location r_bit_counter[10] 12 10 2 #SB_DFFSR
set_location fsm_proc.un22_r_clk_counter_1_c 11 12 1 #SB_CARRY
set_location fsm_proc.un10_r_clk_counter_7_c_RNI1G15 9 10 1 #SB_LUT4
set_location un1_r_bit_counter_1_cry_21_c 12 11 5 #SB_CARRY
set_location r_clk_counter[18] 7 11 2 #SB_DFFSR
set_location r_bit_counter_RNO[20] 12 11 4 #SB_LUT4
set_location fsm_proc.un10_r_clk_counter_0_c 9 9 0 #SB_CARRY
set_location un1_r_bit_counter_1_cry_18_c 12 11 2 #SB_CARRY
set_location r_rx_byte[2] 8 12 7 #SB_DFFSR
set_location r_clk_counter_RNI6RIJ1[24] 8 11 1 #SB_LUT4
set_location r_state_RNO_0[1] 9 10 4 #SB_LUT4
set_location r_bit_counter_RNO[17] 12 11 1 #SB_LUT4
set_location un1_r_clk_counter_1_cry_0_c 7 9 0 #SB_CARRY
set_location un1_r_bit_counter_1_cry_11_c 12 10 3 #SB_CARRY
set_location r_rx_byte_RNO[2] 8 12 7 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_3_c 11 12 3 #SB_CARRY
set_location un1_r_clk_counter_1_cry_9_c 7 10 1 #SB_CARRY
set_location un1_r_bit_counter_1_cry_16_c 12 11 0 #SB_CARRY
set_location r_clk_counter_RNO[20] 7 11 4 #SB_LUT4
set_location fsm_proc.un22_r_clk_counter_4_c 11 12 4 #SB_CARRY
set_location un1_r_clk_counter_1_cry_27_c 7 12 3 #SB_CARRY
set_location r_clk_counter[12] 7 10 4 #SB_DFFSR
set_location r_bit_counter[20] 12 11 4 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_0_c 9 11 0 #SB_CARRY
set_location fsm_proc.un22_r_clk_counter_5_c_RNO 11 11 4 #SB_LUT4
set_location un1_r_clk_counter_1_cry_20_c 7 11 4 #SB_CARRY
set_location r_clk_counter_RNO[14] 7 10 6 #SB_LUT4
set_location r_bit_counter_RNO[30] 12 12 6 #SB_LUT4
set_location r_bit_counter_RNO[19] 12 11 3 #SB_LUT4
set_location fsm_proc.un10_r_clk_counter_4_c 9 9 4 #SB_CARRY
set_location r_clk_counter[21] 7 11 5 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_29_c 7 12 5 #SB_CARRY
set_location r_rx_byte_RNO_0[4] 8 11 4 #SB_LUT4
set_location r_clk_counter_RNO[1] 7 9 1 #SB_LUT4
set_location r_clk_counter_RNO_0[4] 7 9 4 #SB_LUT4
set_io o_rx_byte[6] 2
set_io o_rx_byte[2] 19
set_io i_clk 13
set_io o_rx_valid_pulse 96
set_io o_rx_byte[5] 4
set_io o_rx_byte[1] 21
set_io i_rst 87
set_io i_UART_RX 93
set_io o_rx_byte[4] 12
set_io o_rx_byte[0] 25
set_io o_rx_byte[7] 100
set_io o_rx_byte[3] 16
set_io o_UART_RX_LED 8
