set_location IN_MUX_bfv_9_10_0_ 9 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_11_0_ 9 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_5_0_ 8 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_6_0_ 8 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_9_0_ 11 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_10_0_ 11 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_11_0_ 11 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_12_0_ 11 12 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_6_0_ 2 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_7_0_ 2 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_8_0_ 2 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location N_225_0_THRU_LUT4_0 9 11 0 #SB_LUT4
set_location fsm_proc_un6_r_clk_counter_THRU_LUT4_0 8 6 0 #SB_LUT4
set_location r_tx_busy_RNO 2 10 0 #SB_LUT4
set_location r_clk_counter[2] 11 9 2 #SB_DFFSR
set_location r_clk_counter_RNO[9] 11 10 1 #SB_LUT4
set_location r_state_ns_0_o2_0_5_c_RNO[0] 9 9 0 #SB_LUT4
set_location r_clk_counter[15] 11 10 7 #SB_DFFSR
set_location r_bit_counter_RNO[25] 2 9 1 #SB_LUT4
set_location r_bit_counter_RNIJO181[31] 1 8 0 #SB_LUT4
set_location un1_r_clk_counter_1_cry_15_c 11 10 7 #SB_CARRY
set_location r_clk_counter_RNO[13] 11 10 5 #SB_LUT4
set_location r_bit_counter_RNO[12] 2 7 4 #SB_LUT4
set_location un1_r_bit_counter_1_cry_22_c 2 8 6 #SB_CARRY
set_location r_state_ns_0_o2_0_5_c[0] 9 10 5 #SB_CARRY
set_location un1_r_clk_counter_1_cry_30_c 11 12 6 #SB_CARRY
set_location un1_r_bit_counter_1_cry_30_c 2 9 6 #SB_CARRY
set_location r_bit_counter_RNO[4] 2 6 4 #SB_LUT4
set_location r_bit_counter_RNO[28] 2 9 4 #SB_LUT4
set_location r_bit_counter[25] 2 9 1 #SB_DFFSR
set_location r_state_ns_0_o2_0_7_c_RNI0D6L1[0] 8 9 7 #SB_LUT4
set_location r_bit_counter[13] 2 7 5 #SB_DFFSR
set_location r_bit_counter[1] 2 6 1 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_28_c 2 9 4 #SB_CARRY
set_location r_clk_counter_RNO[19] 11 11 3 #SB_LUT4
set_location r_bit_counter_RNO[9] 2 7 1 #SB_LUT4
set_location un1_r_clk_counter_1_cry_22_c 11 11 6 #SB_CARRY
set_location un1_r_clk_counter_1_cry_16_c 11 11 0 #SB_CARRY
set_location un1_r_bit_counter_1_cry_6_c 2 6 6 #SB_CARRY
set_location un1_r_bit_counter_1_cry_27_c 2 9 3 #SB_CARRY
set_location un1_r_bit_counter_1_cry_15_c 2 7 7 #SB_CARRY
set_location r_clk_counter[5] 11 9 5 #SB_DFFSR
set_location r_clk_counter[24] 11 12 0 #SB_DFFSR
set_location r_tx_byte_RNO[6] 4 9 0 #SB_LUT4
set_location r_clk_counter_RNO[4] 11 9 4 #SB_LUT4
set_location r_clk_counter_RNO[28] 11 12 4 #SB_LUT4
set_location r_bit_counter[16] 2 8 0 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_7_c_RNIVNVLC 1 7 1 #SB_LUT4
set_location un1_r_clk_counter_1_cry_11_c 11 10 3 #SB_CARRY
set_location r_tx_byte[1] 4 9 4 #SB_DFFSR
set_location r_clk_counter[31] 11 12 7 #SB_DFFSR
set_location r_bit_counter_RNO[22] 2 8 6 #SB_LUT4
set_location r_bit_counter[28] 2 9 4 #SB_DFFSR
set_location r_UART_TX_RNO_1 4 10 4 #SB_LUT4
set_location r_clk_counter[0] 11 9 0 #SB_DFFSR
set_location r_bit_counter[30] 2 9 6 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_23_c 11 11 7 #SB_CARRY
set_location un1_r_clk_counter_1_cry_12_c 11 10 4 #SB_CARRY
set_location r_clk_counter_RNO[23] 11 11 7 #SB_LUT4
set_location r_bit_counter_RNO[11] 2 7 3 #SB_LUT4
set_location r_bit_counter[19] 2 8 3 #SB_DFFSR
set_location r_tx_byte[4] 2 11 1 #SB_DFFSR
set_location r_clk_counter[29] 11 12 5 #SB_DFFSR
set_location r_clk_counter[17] 11 11 1 #SB_DFFSR
set_location r_bit_counter_RNO[27] 2 9 3 #SB_LUT4
set_location r_UART_TX_RNO_4 2 10 1 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_2_c_RNO 12 9 4 #SB_LUT4
set_location un1_r_clk_counter_1_cry_7_c 11 9 7 #SB_CARRY
set_location r_bit_counter[9] 2 7 1 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_10_c 2 7 2 #SB_CARRY
set_location r_clk_counter_RNO[26] 11 12 2 #SB_LUT4
set_location r_clk_counter_RNO[11] 11 10 3 #SB_LUT4
set_location r_bit_counter_RNO[1] 2 6 1 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_6_c 8 5 6 #SB_CARRY
set_location un1_r_bit_counter_1_cry_2_c 2 6 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_24_c 2 9 0 #SB_CARRY
set_location r_state_ns_0_o2_0_6_c[0] 9 10 6 #SB_CARRY
set_location r_bit_counter[26] 2 9 2 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_8_c 11 10 0 #SB_CARRY
set_location r_state_fast[1] 8 8 3 #SB_DFF
set_location r_bit_counter[2] 2 6 2 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_7_c_RNIN0MP1 1 7 0 #SB_LUT4
set_location un1_r_clk_counter_1_cry_5_c 11 9 5 #SB_CARRY
set_location un1_r_clk_counter_1_cry_26_c 11 12 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_23_c 2 8 7 #SB_CARRY
set_location r_bit_counter_RNO[6] 2 6 6 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_1_c_RNO_1 11 8 7 #SB_LUT4
set_location un1_r_clk_counter_1_cry_17_c 11 11 1 #SB_CARRY
set_location r_clk_counter[8] 11 10 0 #SB_DFFSR
set_location r_clk_counter[23] 11 11 7 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_7_c 8 5 7 #SB_CARRY
set_location un1_r_clk_counter_1_cry_2_c 11 9 2 #SB_CARRY
set_location r_tx_byte_RNO[5] 4 9 1 #SB_LUT4
set_location r_state[0] 8 8 4 #SB_DFF
set_location r_clk_counter_RNO[3] 11 9 3 #SB_LUT4
set_location r_bit_counter[7] 2 6 7 #SB_DFFSR
set_location r_bit_counter[11] 2 7 3 #SB_DFFSR
set_location r_state_ns_0_o2_0_1_c[0] 9 10 1 #SB_CARRY
set_location un1_r_clk_counter_1_cry_28_c 11 12 4 #SB_CARRY
set_location un1_r_bit_counter_1_cry_8_c 2 7 0 #SB_CARRY
set_location r_clk_counter[3] 11 9 3 #SB_DFFSR
set_location r_clk_counter[26] 11 12 2 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_3_c 11 9 3 #SB_CARRY
set_location r_tx_byte_RNO[0] 2 11 0 #SB_LUT4
set_location r_clk_counter_RNO[6] 11 9 6 #SB_LUT4
set_location r_bit_counter_RNO[14] 2 7 6 #SB_LUT4
set_location r_bit_counter_RNIEL761[3] 1 6 1 #SB_LUT4
set_location r_bit_counter[14] 2 7 6 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_5_c 8 5 5 #SB_CARRY
set_location un1_r_clk_counter_1_cry_25_c 11 12 1 #SB_CARRY
set_location un1_r_bit_counter_1_cry_7_c 2 6 7 #SB_CARRY
set_location r_tx_byte[7] 4 9 5 #SB_DFFSR
set_location r_state_ns_0_o2_0_0_c_RNO[0] 9 11 7 #SB_LUT4
set_location r_state_RNO[0] 8 8 4 #SB_LUT4
set_location r_clk_counter[14] 11 10 6 #SB_DFFSR
set_location r_bit_counter_RNO[24] 2 9 0 #SB_LUT4
set_location r_bit_counter_RNIA39D1[11] 1 7 3 #SB_LUT4
set_location r_bit_counter_RNIT1HR3[3] 1 7 4 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_2_c 8 5 2 #SB_CARRY
set_location r_clk_counter_RNO[21] 11 11 5 #SB_LUT4
set_location r_clk_counter_RNO[12] 11 10 4 #SB_LUT4
set_location r_bit_counter_RNO[13] 2 7 5 #SB_LUT4
set_location un1_r_clk_counter_1_cry_1_c 11 9 1 #SB_CARRY
set_location r_clk_counter[11] 11 10 3 #SB_DFFSR
set_location r_bit_counter[23] 2 8 7 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_3_c 8 5 3 #SB_CARRY
set_location un1_r_clk_counter_1_cry_13_c 11 10 5 #SB_CARRY
set_location r_state_ns_0_o2_0_3_c[0] 9 10 3 #SB_CARRY
set_location r_bit_counter_RNIMJDD1[23] 1 9 1 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_5_c_RNO 12 11 6 #SB_LUT4
set_location r_clk_counter_RNO[24] 11 12 0 #SB_LUT4
set_location r_clk_counter_RNO[17] 11 11 1 #SB_LUT4
set_location r_bit_counter_RNO[31] 2 9 7 #SB_LUT4
set_location r_bit_counter_RNO[3] 2 6 3 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_6_c_RNO 11 13 3 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_4_c_RNO 12 11 4 #SB_LUT4
set_location un1_r_clk_counter_1_cry_6_c 11 9 6 #SB_CARRY
set_location un1_r_bit_counter_1_cry_14_c 2 7 6 #SB_CARRY
set_location r_bit_counter[24] 2 9 0 #SB_DFFSR
set_location i_mux_tx_start_pulse_ibuf_RNIM5T91 8 7 3 #SB_LUT4
set_location un1_r_bit_counter_1_cry_4_c 2 6 4 #SB_CARRY
set_location r_state_ns_0_o2_0_4_c[0] 9 10 4 #SB_CARRY
set_location r_bit_counter[0] 2 6 0 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_7_c_RNICJAF1 8 6 2 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_1_c 8 5 1 #SB_CARRY
set_location un1_r_clk_counter_1_cry_21_c 11 11 5 #SB_CARRY
set_location un1_r_bit_counter_1_cry_9_c 2 7 1 #SB_CARRY
set_location un1_r_bit_counter_1_cry_3_c 2 6 3 #SB_CARRY
set_location r_clk_counter_RNO[31] 11 12 7 #SB_LUT4
set_location r_clk_counter_RNO[18] 11 11 2 #SB_LUT4
set_location r_bit_counter_RNO[8] 2 7 0 #SB_LUT4
set_location r_clk_counter[6] 11 9 6 #SB_DFFSR
set_location r_clk_counter[25] 11 12 1 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_4_c 11 9 4 #SB_CARRY
set_location un1_r_clk_counter_1_cry_18_c 11 11 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_0_c 2 6 0 #SB_CARRY
set_location r_tx_byte_RNO[7] 4 9 5 #SB_LUT4
set_location r_state_RNI1ANTA[1] 1 8 2 #SB_LUT4
set_location r_clk_counter_RNO[5] 11 9 5 #SB_LUT4
set_location r_clk_counter_RNO[29] 11 12 5 #SB_LUT4
set_location r_bit_counter[5] 2 6 5 #SB_DFFSR
set_location r_bit_counter[17] 2 8 1 #SB_DFFSR
set_location r_tx_byte[2] 4 11 3 #SB_DFFSR
set_location r_clk_counter[30] 11 12 6 #SB_DFFSR
set_location r_clk_counter[19] 11 11 3 #SB_DFFSR
set_location r_bit_counter_RNO[21] 2 8 5 #SB_LUT4
set_location r_bit_counter_RNI59081[7] 1 7 2 #SB_LUT4
set_location r_UART_TX_RNO_2 4 10 3 #SB_LUT4
set_location r_state_ns_0_o2_0_0_c[0] 9 10 0 #SB_CARRY
set_location r_clk_counter[1] 11 9 1 #SB_DFFSR
set_location r_bit_counter[31] 2 9 7 #SB_DFFSR
set_location i_rst_ibuf_RNII1VR1 9 7 6 #SB_LUT4
set_location r_tx_byte_RNO[2] 4 11 3 #SB_LUT4
set_location r_clk_counter_RNO[8] 11 10 0 #SB_LUT4
set_location r_bit_counter_RNO[16] 2 8 0 #SB_LUT4
set_location r_tx_byte[5] 4 9 1 #SB_DFFSR
set_location r_state_fast_RNO[1] 8 8 3 #SB_LUT4
set_location r_clk_counter[16] 11 11 0 #SB_DFFSR
set_location r_bit_counter_RNO[26] 2 9 2 #SB_LUT4
set_location r_UART_TX_RNO_5 4 10 6 #SB_LUT4
set_location r_bit_counter_RNIC95PA[31] 1 8 6 #SB_LUT4
set_location r_bit_counter[8] 2 7 0 #SB_DFFSR
set_location r_UART_TX_RNO 1 10 7 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_4_c 8 5 4 #SB_CARRY
set_location un1_r_clk_counter_1_cry_24_c 11 12 0 #SB_CARRY
set_location r_clk_counter_RNO[27] 11 12 3 #SB_LUT4
set_location r_clk_counter_RNO[10] 11 10 2 #SB_LUT4
set_location r_bit_counter_RNO[0] 2 6 0 #SB_LUT4
set_location r_state_ns_0_o2_0_2_c[0] 9 10 2 #SB_CARRY
set_location r_clk_counter[13] 11 10 5 #SB_DFFSR
set_location r_bit_counter_RNISEIL5[15] 1 8 5 #SB_LUT4
set_location r_bit_counter[21] 2 8 5 #SB_DFFSR
set_location fsm_proc.un6_r_clk_counter_3_c_RNO 12 11 2 #SB_LUT4
set_location un1_r_bit_counter_1_cry_5_c 2 6 5 #SB_CARRY
set_location un1_r_bit_counter_1_cry_29_c 2 9 5 #SB_CARRY
set_location r_state_ns_0_o2_0_7_c[0] 9 10 7 #SB_CARRY
set_location r_state_fast[0] 8 8 5 #SB_DFF
set_location r_state_ns_0_o2_0_3_c_RNO[0] 12 9 6 #SB_LUT4
set_location r_clk_counter_RNO[15] 11 10 7 #SB_LUT4
set_location r_bit_counter_RNO[5] 2 6 5 #SB_LUT4
set_location r_bit_counter_RNO[29] 2 9 5 #SB_LUT4
set_location r_bit_counter_RNO[18] 2 8 2 #SB_LUT4
set_location un1_r_bit_counter_1_cry_20_c 2 8 4 #SB_CARRY
set_location r_state_ns_0_o2_0_6_c_RNO[0] 9 11 3 #SB_LUT4
set_location r_clk_counter[9] 11 10 1 #SB_DFFSR
set_location r_clk_counter[20] 11 11 4 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_13_c 2 7 5 #SB_CARRY
set_location r_state[1] 9 8 6 #SB_DFF
set_location r_clk_counter_RNO[0] 11 9 0 #SB_LUT4
set_location r_bit_counter[6] 2 6 6 #SB_DFFSR
set_location r_bit_counter[12] 2 7 4 #SB_DFFSR
set_location r_UART_TX 1 10 7 #SB_DFFSS
set_location r_state_ns_0_o2_0_2_c_RNO[0] 9 9 4 #SB_LUT4
set_location r_clk_counter[4] 11 9 4 #SB_DFFSR
set_location r_clk_counter[27] 11 12 3 #SB_DFFSR
set_location r_bit_counter_RNITRED1[27] 1 9 5 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_1_c_RNO 11 8 4 #SB_LUT4
set_location un1_r_clk_counter_1_cry_14_c 11 10 6 #SB_CARRY
set_location r_tx_byte_RNO[1] 4 9 4 #SB_LUT4
set_location r_clk_counter_RNO[7] 11 9 7 #SB_LUT4
set_location r_bit_counter_RNO[15] 2 7 7 #SB_LUT4
set_location r_bit_counter[15] 2 7 7 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location r_tx_byte[0] 2 11 0 #SB_DFFSR
set_location r_state_RNO[1] 9 8 6 #SB_LUT4
set_location r_bit_counter_RNO[23] 2 8 7 #SB_LUT4
set_location r_bit_counter[29] 2 9 5 #SB_DFFSR
set_location r_UART_TX_RNO_0 2 10 3 #SB_LUT4
set_location un1_r_bit_counter_1_cry_1_c 2 6 1 #SB_CARRY
set_location r_state_RNIL0I4_0[1] 1 8 1 #SB_LUT4
set_location un1_r_bit_counter_1_cry_19_c 2 8 3 #SB_CARRY
set_location r_clk_counter_RNO[22] 11 11 6 #SB_LUT4
set_location r_bit_counter_RNO[10] 2 7 2 #SB_LUT4
set_location r_bit_counter[18] 2 8 2 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_25_c 2 9 1 #SB_CARRY
set_location r_clk_counter[28] 11 12 4 #SB_DFFSR
set_location r_clk_counter[10] 11 10 2 #SB_DFFSR
set_location r_bit_counter[22] 2 8 6 #SB_DFFSR
set_location r_bit_counter_RNIFBCD1[19] 1 8 4 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_7_c_RNO 8 12 4 #SB_LUT4
set_location un1_r_bit_counter_1_cry_17_c 2 8 1 #SB_CARRY
set_location r_clk_counter_RNO[25] 11 12 1 #SB_LUT4
set_location r_clk_counter_RNO[16] 11 11 0 #SB_LUT4
set_location r_bit_counter_RNO[2] 2 6 2 #SB_LUT4
set_location r_state_ns_0_o2_0_4_c_RNO[0] 9 9 6 #SB_LUT4
set_location r_state_RNIL0I4[1] 9 9 2 #SB_LUT4
set_location r_bit_counter[27] 2 9 3 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_19_c 11 11 3 #SB_CARRY
set_location un1_r_bit_counter_1_cry_26_c 2 9 2 #SB_CARRY
set_location un1_r_bit_counter_1_cry_12_c 2 7 4 #SB_CARRY
set_location r_state_ns_0_o2_0_7_c_RNO[0] 9 12 7 #SB_LUT4
set_location r_state_ns_0_o2_0_1_c_RNO[0] 9 11 6 #SB_LUT4
set_location r_bit_counter[3] 2 6 3 #SB_DFFSR
set_location r_clk_counter_RNO[30] 11 12 6 #SB_LUT4
set_location r_bit_counter_RNO[7] 2 6 7 #SB_LUT4
set_location fsm_proc.un6_r_clk_counter_1_c_RNO_0 8 5 0 #SB_CARRY
set_location un1_r_clk_counter_1_cry_10_c 11 10 2 #SB_CARRY
set_location r_clk_counter[7] 11 9 7 #SB_DFFSR
set_location r_clk_counter[22] 11 11 6 #SB_DFFSR
set_location r_tx_byte_RNO[4] 2 11 1 #SB_LUT4
set_location r_clk_counter_RNO[2] 11 9 2 #SB_LUT4
set_location r_bit_counter[4] 2 6 4 #SB_DFFSR
set_location r_bit_counter[10] 2 7 2 #SB_DFFSR
set_location un1_r_bit_counter_1_cry_21_c 2 8 5 #SB_CARRY
set_location r_tx_byte[3] 4 9 3 #SB_DFFSR
set_location r_clk_counter[18] 11 11 2 #SB_DFFSR
set_location r_bit_counter_RNO[20] 2 8 4 #SB_LUT4
set_location r_UART_TX_RNO_3 2 10 2 #SB_LUT4
set_location un1_r_bit_counter_1_cry_18_c 2 8 2 #SB_CARRY
set_location r_tx_byte_RNO[3] 4 9 3 #SB_LUT4
set_location r_tx_busy 2 10 0 #SB_DFF
set_location r_bit_counter_RNO[17] 2 8 1 #SB_LUT4
set_location un1_r_clk_counter_1_cry_0_c 11 9 0 #SB_CARRY
set_location un1_r_bit_counter_1_cry_11_c 2 7 3 #SB_CARRY
set_location r_tx_byte[6] 4 9 0 #SB_DFFSR
set_location r_state_fast_RNO[0] 8 8 5 #SB_LUT4
set_location r_bit_counter_RNIQJ9D1[15] 1 8 7 #SB_LUT4
set_location un1_r_clk_counter_1_cry_9_c 11 10 1 #SB_CARRY
set_location un1_r_bit_counter_1_cry_16_c 2 8 0 #SB_CARRY
set_location r_clk_counter_RNO[20] 11 11 4 #SB_LUT4
set_location un1_r_clk_counter_1_cry_27_c 11 12 3 #SB_CARRY
set_location r_clk_counter[12] 11 10 4 #SB_DFFSR
set_location r_bit_counter[20] 2 8 4 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_20_c 11 11 4 #SB_CARRY
set_location r_clk_counter_RNO[14] 11 10 6 #SB_LUT4
set_location r_bit_counter_RNO[30] 2 9 6 #SB_LUT4
set_location r_bit_counter_RNO[19] 2 8 3 #SB_LUT4
set_location r_clk_counter[21] 11 11 5 #SB_DFFSR
set_location un1_r_clk_counter_1_cry_29_c 11 12 5 #SB_CARRY
set_location r_clk_counter_RNO[1] 11 9 1 #SB_LUT4
set_io o_UART_TX_LED 7
set_io o_UART_TX 1
set_io i_mux_tx_start_pulse 25
set_io i_mux_tx_byte[5] 19
set_io i_mux_tx_byte[1] 24
set_io i_clk 13
set_io i_rst 8
set_io i_mux_tx_byte[6] 16
set_io i_mux_tx_byte[2] 97
set_io o_tx_busy 3
set_io i_mux_tx_byte[7] 12
set_io i_mux_tx_byte[3] 21
set_io i_mux_tx_byte[4] 99
set_io i_mux_tx_byte[0] 100
