set_location i_send_tx_start_pulse_ibuf_RNIGI041 2 14 0 # SB_LUT4 (LogicCell: i_send_tx_start_pulse_ibuf_RNIGI041_LC_0)
set_location r_mux_tx_byte_esr_RNO[0] 2 16 2 # SB_LUT4 (LogicCell: r_mux_tx_byte_esr[0]_LC_1)
set_location r_mux_tx_byte_esr[0] 2 16 2 # SB_DFFESR (LogicCell: r_mux_tx_byte_esr[0]_LC_1)
set_location r_mux_tx_byte_esr_RNO[1] 4 16 3 # SB_LUT4 (LogicCell: r_mux_tx_byte_esr[1]_LC_2)
set_location r_mux_tx_byte_esr[1] 4 16 3 # SB_DFFESR (LogicCell: r_mux_tx_byte_esr[1]_LC_2)
set_location r_mux_tx_byte_esr_RNO[2] 4 16 4 # SB_LUT4 (LogicCell: r_mux_tx_byte_esr[2]_LC_3)
set_location r_mux_tx_byte_esr[2] 4 16 4 # SB_DFFESR (LogicCell: r_mux_tx_byte_esr[2]_LC_3)
set_location r_mux_tx_byte_esr_RNO[3] 4 16 5 # SB_LUT4 (LogicCell: r_mux_tx_byte_esr[3]_LC_4)
set_location r_mux_tx_byte_esr[3] 4 16 5 # SB_DFFESR (LogicCell: r_mux_tx_byte_esr[3]_LC_4)
set_location r_mux_tx_byte_esr_RNO[4] 4 16 6 # SB_LUT4 (LogicCell: r_mux_tx_byte_esr[4]_LC_5)
set_location r_mux_tx_byte_esr[4] 4 16 6 # SB_DFFESR (LogicCell: r_mux_tx_byte_esr[4]_LC_5)
set_location r_mux_tx_byte_esr_RNO[5] 4 16 7 # SB_LUT4 (LogicCell: r_mux_tx_byte_esr[5]_LC_6)
set_location r_mux_tx_byte_esr[5] 4 16 7 # SB_DFFESR (LogicCell: r_mux_tx_byte_esr[5]_LC_6)
set_location r_mux_tx_byte_esr_RNO[6] 1 8 0 # SB_LUT4 (LogicCell: r_mux_tx_byte_esr[6]_LC_7)
set_location r_mux_tx_byte_esr[6] 1 8 0 # SB_DFFESR (LogicCell: r_mux_tx_byte_esr[6]_LC_7)
set_location r_mux_tx_byte_esr_RNO[7] 1 8 1 # SB_LUT4 (LogicCell: r_mux_tx_byte_esr[7]_LC_8)
set_location r_mux_tx_byte_esr[7] 1 8 1 # SB_DFFESR (LogicCell: r_mux_tx_byte_esr[7]_LC_8)
set_location r_mux_tx_start_pulse_RNO 2 13 4 # SB_LUT4 (LogicCell: r_mux_tx_start_pulse_RNO_LC_9)
set_location GND -1 -1 -1 # GND
set_io i_clk_ibuf_gb_io 0 9 0 # ICE_GB_IO
set_io i_fsm_tx_start_pulse_ibuf 0 4 0 # ICE_IO
set_io i_fsm_tx_status_byte_ibuf[0] 0 12 0 # ICE_IO
set_io i_fsm_tx_status_byte_ibuf[1] 10 17 0 # ICE_IO
set_io i_fsm_tx_status_byte_ibuf[2] 9 17 1 # ICE_IO
set_io i_fsm_tx_status_byte_ibuf[3] 9 17 0 # ICE_IO
set_io i_fsm_tx_status_byte_ibuf[4] 8 17 1 # ICE_IO
set_io i_fsm_tx_status_byte_ibuf[5] 8 17 0 # ICE_IO
set_io i_fsm_tx_status_byte_ibuf[6] 0 9 1 # ICE_IO
set_io i_fsm_tx_status_byte_ibuf[7] 0 8 1 # ICE_IO
set_io i_rst_ibuf 7 17 0 # ICE_IO
set_io i_send_tx_byte_ibuf[0] 6 17 1 # ICE_IO
set_io i_send_tx_byte_ibuf[1] 6 17 0 # ICE_IO
set_io i_send_tx_byte_ibuf[2] 5 17 1 # ICE_IO
set_io i_send_tx_byte_ibuf[3] 5 17 0 # ICE_IO
set_io i_send_tx_byte_ibuf[4] 4 17 1 # ICE_IO
set_io i_send_tx_byte_ibuf[5] 4 17 0 # ICE_IO
set_io i_send_tx_byte_ibuf[6] 0 8 0 # ICE_IO
set_io i_send_tx_byte_ibuf[7] 0 6 1 # ICE_IO
set_io i_send_tx_start_pulse_ibuf 3 17 1 # ICE_IO
set_io o_mux_tx_byte_obuf[0] 2 17 1 # ICE_IO
set_io o_mux_tx_byte_obuf[1] 1 17 1 # ICE_IO
set_io o_mux_tx_byte_obuf[2] 0 14 1 # ICE_IO
set_io o_mux_tx_byte_obuf[3] 0 14 0 # ICE_IO
set_io o_mux_tx_byte_obuf[4] 0 13 1 # ICE_IO
set_io o_mux_tx_byte_obuf[5] 0 13 0 # ICE_IO
set_io o_mux_tx_byte_obuf[6] 0 6 0 # ICE_IO
set_io o_mux_tx_byte_obuf[7] 0 2 0 # ICE_IO
set_io o_mux_tx_start_pulse_obuf 0 12 1 # ICE_IO
