# iCE40UP5K Logic Analyzer, Rev2
# Physical Constraints File

# Sampling signals (enable pullups with '-pullup yes')
set_io i_LA0 48
set_io i_LA1 47
set_io i_LA2 46
set_io i_LA3 45
set_io i_LA4 44
set_io i_LA5 43
set_io i_LA6 42
set_io i_LA7 38
set_io i_LA8 37
set_io i_LA9 36
set_io i_LA10 35
set_io i_LA11 34
set_io i_LA12 28
set_io i_LA13 27
set_io i_LA14 26
set_io i_LA15 25

# Debug signals
set_io o_DBG3 21
set_io o_DBG2 20
set_io o_DBG1 19
set_io o_DBG0 18

# SPI signals, used for DEBUGGING/obtaining metrics AFTER the board is programmed. MISO pin = DEBUG_1; MOSI pin = DEBUG_2
#set_io o_BACKUP_DBG1 17
#set_io o_BACKUP_DBG2 14

# LED signals
set_io o_UART_TX_LED 12
set_io o_UART_RX_LED 11
set_io o_USER_LED 10

# Config signals
# rev1: i_RESET used for i_CRESET_B pin. But CRESET_B is reconfig reset, not logic reset for the design
# set_io i_RESET 8

# UART signals
set_io o_UART_TX 4
set_io i_UART_RX 3

# UART HW Handhsaking signals
# CTSn
set_io i_FTDI_CTS_N 6
# RTSn
set_io o_FTDI_RTS_N 2
