ble_pack o_pl_byte_obuf_RNO_6_LC_13_30_0 { o_pl_byte_obuf_RNO[6] }
ble_pack o_pl_byte_obuf_RNO_7_LC_13_30_1 { o_pl_byte_obuf_RNO[7] }
ble_pack o_pl_valid_obuf_RNO_LC_13_30_2 { o_pl_valid_obuf_RNO }
clb_pack LT_13_30 { o_pl_byte_obuf_RNO_6_LC_13_30_0, o_pl_byte_obuf_RNO_7_LC_13_30_1, o_pl_valid_obuf_RNO_LC_13_30_2 }
set_location LT_13_30 13 30
ble_pack o_pl_byte_obuf_RNO_0_LC_18_1_0 { o_pl_byte_obuf_RNO[0] }
ble_pack o_pl_byte_obuf_RNO_5_LC_18_1_1 { o_pl_byte_obuf_RNO[5] }
ble_pack o_pl_byte_obuf_RNO_1_LC_18_1_3 { o_pl_byte_obuf_RNO[1] }
ble_pack o_pl_byte_obuf_RNO_2_LC_18_1_4 { o_pl_byte_obuf_RNO[2] }
ble_pack o_pl_byte_obuf_RNO_3_LC_18_1_5 { o_pl_byte_obuf_RNO[3] }
ble_pack o_pl_byte_obuf_RNO_4_LC_18_1_6 { o_pl_byte_obuf_RNO[4] }
clb_pack LT_18_1 { o_pl_byte_obuf_RNO_0_LC_18_1_0, o_pl_byte_obuf_RNO_5_LC_18_1_1, o_pl_byte_obuf_RNO_1_LC_18_1_3, o_pl_byte_obuf_RNO_2_LC_18_1_4, o_pl_byte_obuf_RNO_3_LC_18_1_5, o_pl_byte_obuf_RNO_4_LC_18_1_6 }
set_location LT_18_1 18 1
ble_pack o_resp_pl_ready_obuf_RNO_LC_18_30_1 { o_resp_pl_ready_obuf_RNO }
ble_pack o_send_pl_ready_obuf_RNO_LC_18_30_5 { o_send_pl_ready_obuf_RNO }
clb_pack LT_18_30 { o_resp_pl_ready_obuf_RNO_LC_18_30_1, o_send_pl_ready_obuf_RNO_LC_18_30_5 }
set_location LT_18_30 18 30
set_io o_send_pl_ready 27
set_io o_pl_byte[1] 14
set_io i_send_pl_byte[7] 37
set_io i_resp_pl_byte[2] 3
set_io i_grant_sel 38
set_io o_pl_byte[0] 18
set_io i_send_pl_valid 35
set_io i_send_pl_byte[4] 20
set_io i_resp_pl_byte[3] 6
set_io o_pl_byte[3] 15
set_io i_send_pl_byte[5] 19
set_io i_resp_pl_valid 32
set_io i_resp_pl_byte[0] 2
set_io o_pl_byte[2] 17
set_io i_send_pl_byte[2] 21
set_io i_resp_pl_byte[1] 4
set_io o_pl_valid 42
set_io o_pl_byte[5] 25
set_io i_send_pl_byte[3] 13
set_io i_resp_pl_byte[6] 28
set_io o_pl_byte[4] 16
set_io i_send_pl_byte[0] 11
set_io i_resp_pl_byte[7] 31
set_io o_resp_pl_ready 23
set_io o_pl_byte[7] 43
set_io i_send_pl_byte[1] 12
set_io i_resp_pl_byte[4] 9
set_io o_pl_byte[6] 36
set_io i_send_pl_byte[6] 34
set_io i_resp_pl_byte[5] 10
set_io i_pl_ready 26
